body{
    font-family: 'Nunito', sans-serif;
}

/* Main Heading */
.main-heading{
    font-size: 8rem;
    font-weight: bold;
}

/* Display Image */
.card-text{
    font-weight: bold;
    text-align: center;
    font-size: 1.3rem;
}
