body{
    font-family: 'Nunito', sans-serif;
}

/* Main Heading */
.main-heading{
    font-size: 9.5rem;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
}

/* Display Image */
.card-text{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
}

/* Jumbotron */
.jumbotron-text{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 20rem;
    margin: 0;
}

.main-jumbotron{
    background-color: black;
}

/* Footer */
.footer-text{
    font-weight: bold;
}

.footer-link{
    color: black;
    text-decoration: none;
}

.footer-form-text{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem
}

.community-input{
    border: 2px solid black;
    padding: 10px 10px;
}