
body{
    margin: 0;
    font-family: poppins;
}

a{
    color: unset;
    text-decoration: none;
}

.container{
    width: 900px;
    max-width: 90 vw;
    margin: auto;
    padding-top: 10px;
    text-align: center;
}
.title{
    font-size: xx-large;
    padding: 20px 0;
}

.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}

.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
}
.listProduct .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}

.listProduct.item .h2{
    font: large;
    font-weight: 500;
}

.listProduct .item .price{
    latter-spacing: 7px;
    font-size: small;
} 

/*CSS FOR DETAILS*/
.detail{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

.detail .image img{
    height: 500px;
    width: 500px;
    filter: drop-shadow(0 50px 20px #0009);

}
.detail .image{
    position: relative;
}
.detail .image::before{
    margin-top: 50px;
    position:absolute;
    content: '';
    background-color: #94817733;
    z-index:-1;
    width: 300px;
    height: 300px;
    border-radius: 190px 100px 170px 180px;
    margin-left :calc(50% -150px)
    
}

.detail .name {
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}
.detail .price {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 20px;
}

.detail .buttons{
    display: flex;
    gap:20px;
    margin-bottom:20px;
    border-radius: 50px;
    
}

.detail .buttons button{
    background-color: #EEE;
    border: none;
    padding:15px 20px;
    border-radius: 20px;

}

.detail .buttons button:nth-child(2){
    background-color: #2f2f2f;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px #2f2f2f77;
}
.detail .description{
    font-weight: 300;
    
}
.item {
    text-decoration: none;
    color: black;
}



@media screen and (max-width: 767px) {
    .container {
        padding-top: 20px;
    }
    .listProduct {
        grid-template-columns: repeat(2, 1fr);
        gap: 3px;
        
    }
    .detail {
        grid-template-columns: 1fr;
    }
    .detail .image img {
        width: 100%;
        height: auto;
    }
    
    .detail .name {
        font-size: x-large;
        padding-top: 20px;
    }
    .detail .image::before{
        margin-top: 25px;
        position:absolute;
        content: '';
        background-color: #94817733;
        z-index:-1;
        width: 250px;
        height: 250px;
        border-radius: 190px 100px 170px 180px;
        margin-left :calc(50% -150px)
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 80%; /* Adjust the width to your preference */
        max-width: none;
    }
    .detail .image img {
        width: 100%;
        height: auto;
    }
    .detail .name {
        font-size: xx-large;
        padding-top: 20px;
    }
}


 




p{
    text-decoration: underline;
    text-underline-offset: 4px;
}